


/*分页*/
@media all {
    .pagingAndExp{
        overflow: hidden;
        margin-bottom: 10px;
    }
    .pagingAndExp>nav>ul.pagination{
        margin:0;
    }
    .pagination > li > a,
    .pagination > li > span{
        color: #fff;
        background-color: transparent;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus{
        color: #fff;
        background-color: rgba(255,255,255,.2);
    }
}

.table-hover > tbody > tr:hover{
    background-color:rgba(0, 0, 0, 0.23)
}

table.table{
    margin-top: 1em;
    margin-bottom: 1em;
}

table.table>thead>tr>th>span.glyphicon{
    font-size: .9em;
}

.table > thead > tr > th,
.table > tbody > tr td{
    text-align: center;
    vertical-align: middle;
}

.table> tbody >tr > td {
    padding: 8px 0;
}
table .active{
    font-weight: normal;
    background-color: rgba(255,255,255,.2)
}
table td a{
    color: #fff;
}
table td a:hover{
    color: #4ff6ff;
}


table td .item{
    padding: .5em 0;

}
table td .item:not(:first-child){
    border-top: 1px solid rgba(255,255,255,.2);
}
table td .content{
    display: none;
}
table td:not(.reporter) .reporter-name,
table td:not(.reporter)  .content{
    margin-bottom: .5em;
}
#usageMode td:not(.reporter) .reporter-name,
#level td:not(.reporter) .reporter-name{
    border:none;
}

#usageMode .reporter-name,
#usageMode .content,
#level .reporter-name,
#level .content{
    margin-bottom: 0;
}
#usageMode .total,
#level .total{
    margin-bottom: .5em;
}

table td.drill>div:hover,
table .drill:not(td):hover{
    cursor: pointer;
    font-weight: bold;
}

