<header>
	<ul class="row header">
		<li class="pull-left status"><span class="glyphicon glyphicon-ok"></span></li>
		<li class="col-md-8 tab">
			<button class="btn btn-default selected">
				<span class="navText">总览</span> <span
					class="glyphicon glyphicon-remove"></span>
			</button>
		</li>
		<li class="col-md-2 pull-right">
			<button class="btn btn-default">登出系统&gt;&gt;</button>
		</li>
		<li class="col-md-2 pull-right text-right">
			<button class="btn btn-default">关闭操作</button>
		</li>
	</ul>
</header>