<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${ctx_path!}/home"> 陆军联参信息决策系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<#if session.s_container.sysUser??>
					<li class="status active">
	                    <a style="cursor: pointer">你好，${session.s_container.sysUser.login_name!}
	                    </a>
	                <li><a href="${ctx_path}login/logout">登出</a></li>
	                </li>
				<#else>
					<li class="status active">
	                   
	                <li><a href="#">登录</a></li>
	                </li>
				</#if>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>