<div class="col-md-2">
	<div id="l">
		<div class="userInfo">
			<div class="userInfo-pic">
				<!--<span class="glyphicon glyphicon-user"></span>-->
				<img class="img-responsive img-circle"
					src="/bigdata/img/user_pic.png" alt="用户名">
			</div>
			<h4 class="userInfo-name">王将军</h4>
			<div class="userInfo-offer">AA公司总经理</div>
		</div>
		<nav class="menu">
			<ul>
				<li class="selected"><span> - </span><span class="navText">总览</span></li>
				<li><span> - </span><span class="navText">素材分析</span></li>
				<li><span> + </span> <span class="navText noSelected">新闻分析</span>
					<ul>
						<li><span> - </span><span class="navText">新闻分析</span></li>
						<li><span> - </span><span class="navText">使用方式</span></li>
						<li><span> - </span><span class="navText">评价级别</span></li>
					</ul></li>
				<li><span> + </span> <span class="navText">其它</span>
					<ul style="display: none">
						<li><span> - </span><span class="navText">其它内容1</span></li>
						<li><span> - </span><span class="navText">其它内容2</span></li>
						<li><span> - </span><span class="navText">其它内容3</span></li>
					</ul>
			</ul>
		</nav>
	</div>
</div>