<div class="switch " id="newsAnalysis">
	<div class="row chartPie numShow">
	    <div class="col-md-3">
	        <div class="item">
	            <h4 class="title">素材量（个）</h4>
	            <div class="row">
	                <div class="col-md-6">
	                    <div class="number fac_orgigion_number">17,435</div>
	                </div>
	                <div class="col-md-6">
	                    <div class="comp">
	                        <span class="glyphicon glyphicon-arrow-up"></span>
	                        同比<span>9%</span>
	                        <span class="glyphicon glyphicon-arrow-down"></span>
	                        环比<span>3%</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-3">
	        <div class="item">
	            <h4>使用方式</h4>
	            <div id="chartNewsPie01"></div>
	        </div>
	    </div>
	    <div class="col-md-3">
	        <div class="item">
	            <h4>是否批示</h4>
	            <div id="chartNewsPie02"></div>
	        </div>
	    </div>
	    <div class="col-md-3">
	        <div class="item">
	            <h4>评论级别</h4>
	            <div id="chartNewsPie03"></div>
	        </div>
	    </div>
	</div>
	<div class="alert alert-info">
	    <!--<div class="pull-left">“部门”、“发稿人”可钻取</div>-->
	        <div class="pull-right btn btn-default">导出本地</div>
	    </div>
	    <table class="table table-bordered table-responsive table-hover">
	        <thead>
	        <tr>
	            <th>时间</th>
	            <th>部门</th>
	            <th>发稿人</th>
	            <th>新闻标题</th>
	            <th>使用方式</th>
	            <th>评价级别</th>
	            <th>是否有批示</th>
	            <th>使用单位</th>
	            <th>前方记者</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	            <td>6月6日</td>
	            <td>北京一公司</td>
	            <td>柴静</td>
	            <td class="newsTitle"><a href="">今年高考生数量突破100万</a></td>
	            <td class="useWay">WEB</td>
	            <td class="level">A</td>
	            <td class="instruction">是</td>
	            <td class="useUnit">中国联想集团</td>
	            <td class="frontReporter">白岩松</td>
	        </tr>
	        <tr>
	            <td>6月6日</td>
	            <td>北京一公司</td>
	            <td>柴静</td>
	            <td class="newsTitle"><a href="">今年高考生数量突破100万</a></td>
	            <td class="useWay">WEB</td>
	            <td class="level">A</td>
	            <td class="instruction">是</td>
	            <td class="useUnit">中国联想集团</td>
	            <td class="frontReporter">白岩松</td>
	        </tr>
	        <tr>
	            <td>6月7日</td>
	            <td>北京一公司</td>
	            <td>柴静</td>
	            <td class="newsTitle"><a href="">今年高考生数量突破100万</a></td>
	            <td class="useWay">WEB</td>
	            <td class="level">A</td>
	            <td class="instruction">是</td>
	            <td class="useUnit">中国联想集团</td>
	            <td class="frontReporter">白岩松</td>
	        </tr>
	        </tbody>
	    </table>
	</div>