
<div class="search">
	<div class="row">
		<div class="col-md-2 text-right title">
			<strong>查询条件：</strong>
		</div>
		<div class="col-md-10">
			<form id="search_form" class="form-inline" action="">
				<div class="form-group form-group-sm">
					<select class="form-control btn-default" name="companyId" 
						title="选择单位" onchange="loadConditions()">
					</select>
				</div>
				<div class="form-group form-group-sm">
					<select class="form-control btn-default" name="deptId"
						title="选择部门" onchange="loadConditions()">
					</select>
				</div>
				<div class="form-group form-group-sm">
					<select class="form-control btn-default" name="creatorId"
						title="选择发稿人" onchange="loadConditions()">
					</select>
				</div>
				<div class="form-group form-group-sm">
					<select class="form-control btn-default" name="direct"
						title="选择方向">
					</select>
				</div>
				<!-- <div class="form-group form-group-sm" style="display:block">
					<select class="form-control btn-default" name="reporter"
						title="reverse">
						<option>reverse1</option>
						<option>reverse2</option>
						<option>reverse3</option>
					</select>
				</div> -->
				<div class="form-group form-group-sm">
					<label for="date1">起始日期</label> <input class="form-control"
						id="date1" name="startDate" type="date"> - <label for="date2">截止日期</label>
					<input class="form-control" id="date2" name="endDate" type="date">
				</div>
				<div class="form-group" onclick="loadData()">
					<input class="btn btn-sm btn-success" style="border-color: #4cae4c;background-color: #5cb85c;" type="button" value="提 交">
				</div>
			</form>
		</div>
	</div>
</div>