<div class="switch " id="sourceAnalysis">
    <div class="row numShow">
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">素材量（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number fac_orgigion_number">17,435</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">新闻量（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number">17,435</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">素材转化率（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number">85.66%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="pull-left">“部门”、“发稿人”可钻取</div>
        <div class="pull-right btn btn-default">导出本地</div>
    </div>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
        <tr>
            <th>时间</th>
            <th>大单位</th>
            <th>部门</th>
            <th>发稿人 ↓→</th>
            <th>管理前方采编</th>
            <th>素材数量</th>
            <th>新闻数量</th>
            <th>转化率</th>
            <th>使用方式</th>
            <th>评价级别</th>
            <th>是否有批示</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>6月</td>
            <td>北京一公司</td>
            <td class="department">销售一部</td>
            <td class="reporter">
                <div class="total">2</div>
                <div class="content">
                    <div class="reporter-name">张三</div>
                    <div class="reporter-name">李四</div>
                </div>
            </td>
            <td class="manageNum">
                <div class="item">
                    <div class="total">3</div>
                    <div class="content">
                        <div>张三A</div>
                        <div>张三B</div>
                        <div>张三C</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">4</div>
                    <div class="content">
                        <div>李四A</div>
                        <div>李四B</div>
                        <div>李四C</div>
                        <div>李四D</div>
                    </div>
                </div>
            </td>
            <td class="sourceNum">
                <div class="item">
                    <div class="total">60</div>
                    <div class="content">
                        <div>10</div>
                        <div>20</div>
                        <div>30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73</div>
                    <div class="content">
                        <div>11</div>
                        <div>21</div>
                        <div>31</div>
                        <div>10</div>
                    </div>
                </div>
            </td>
            <td class="newsNum">
                <div class="item">
                    <div class="total">60</div>
                    <div class="content">
                        <div>10</div>
                        <div>20</div>
                        <div>30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73</div>
                    <div class="content">
                        <div>11</div>
                        <div>21</div>
                        <div>31</div>
                        <div>10</div>
                    </div>
                </div>
            </td>
            <td class="rate">
                <div class="item">
                    <div class="total">60%</div>
                    <div class="content">
                        <div>10%</div>
                        <div>20%</div>
                        <div>30%</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73%</div>
                    <div class="content">
                        <div>11%</div>
                        <div>21%</div>
                        <div>31%</div>
                        <div>10%</div>
                    </div>
                </div>
            </td>
            <td class="useWay">
                <div class="item">
                    <div class="total">方式A</div>
                    <div class="content">
                        <div>方式A</div>
                        <div>方式A</div>
                        <div>方式A</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">方式B</div>
                    <div class="content">
                        <div>方式B</div>
                        <div>方式B</div>
                        <div>方式B</div>
                        <div>方式B</div>
                    </div>
                </div>
            </td>
            <td class="level">
                <div class="item">
                    <div class="total">A</div>
                    <div class="content">
                        <div>A</div>
                        <div>A</div>
                        <div>A</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">B</div>
                    <div class="content">
                        <div>B</div>
                        <div>B</div>
                        <div>B</div>
                        <div>B</div>
                    </div>
                </div>
            </td>
            <td class="instruction">
                <div class="item">
                    <div class="total">全部</div>
                    <div class="content">
                        <div>是</div>
                        <div>是</div>
                        <div>是</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">部分</div>
                    <div class="content">
                        <div>是</div>
                        <div>是</div>
                        <div>否</div>
                        <div>否</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>7月</td>
            <td>北京一公司</td>
            <td class="department">销售一部</td>
            <td class="reporter">
                <div class="total">2</div>
                <div class="content">
                    <div class="reporter-name">张三</div>
                    <div class="reporter-name">李四</div>
                </div>
            </td>
            <td class="manageNum">
                <div class="item">
                    <div class="total">3</div>
                    <div class="content">
                        <div>张三A</div>
                        <div>张三B</div>
                        <div>张三C</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">4</div>
                    <div class="content">
                        <div>李四A</div>
                        <div>李四B</div>
                        <div>李四C</div>
                        <div>李四D</div>
                    </div>
                </div>
            </td>
            <td class="sourceNum">
                <div class="item">
                    <div class="total">60</div>
                    <div class="content">
                        <div>10</div>
                        <div>20</div>
                        <div>30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73</div>
                    <div class="content">
                        <div>11</div>
                        <div>21</div>
                        <div>31</div>
                        <div>10</div>
                    </div>
                </div>
            </td>
            <td class="newsNum">
                <div class="item">
                    <div class="total">60</div>
                    <div class="content">
                        <div>10</div>
                        <div>20</div>
                        <div>30</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73</div>
                    <div class="content">
                        <div>11</div>
                        <div>21</div>
                        <div>31</div>
                        <div>10</div>
                    </div>
                </div>
            </td>
            <td class="rate">
                <div class="item">
                    <div class="total">60%</div>
                    <div class="content">
                        <div>10%</div>
                        <div>20%</div>
                        <div>30%</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">73%</div>
                    <div class="content">
                        <div>11%</div>
                        <div>21%</div>
                        <div>31%</div>
                        <div>10%</div>
                    </div>
                </div>
            </td>
            <td class="useWay">
                <div class="item">
                    <div class="total">方式A</div>
                    <div class="content">
                        <div>方式A</div>
                        <div>方式A</div>
                        <div>方式A</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">方式B</div>
                    <div class="content">
                        <div>方式B</div>
                        <div>方式B</div>
                        <div>方式B</div>
                        <div>方式B</div>
                    </div>
                </div>
            </td>
            <td class="level">
                <div class="item">
                    <div class="total">A</div>
                    <div class="content">
                        <div>A</div>
                        <div>A</div>
                        <div>A</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">B</div>
                    <div class="content">
                        <div>B</div>
                        <div>B</div>
                        <div>B</div>
                        <div>B</div>
                    </div>
                </div>
            </td>
            <td class="instruction">
                <div class="item">
                    <div class="total">全部</div>
                    <div class="content">
                        <div>是</div>
                        <div>是</div>
                        <div>是</div>
                    </div>
                </div>
                <div class="item">
                    <div class="total">部分</div>
                    <div class="content">
                        <div>是</div>
                        <div>是</div>
                        <div>否</div>
                        <div>否</div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>