<div class="switch " id="index">
    <div class="row numShow">
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">素材量（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number fac_orgigion_number">17,435</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">新闻量（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number">17,435</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4 class="title">素材转化率（个）</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="number">85.66%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="comp">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            同比<span>9%</span>
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            环比<span>3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row chartPie">
        <div class="col-md-4">
            <div class="item">
                <h4>使用方式</h4>
                <div id="chart01"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4>是否批示</h4>
                <div id="chart02"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4>评论级别</h4>
                <div id="chart03"></div>
            </div>
        </div>
    </div>
    <div class="row chartBar">
        <h3>新闻量和素材量（Top6）</h3>
        <div class="col-md-6">
            <div class="item">
                <div id="chart04"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item">
                <div id="chart05"></div>
            </div>
        </div>
    </div>
    <div class="row chartLine">
        <h3>最近5年 素材量-新闻量 趋势图</h3>
        <div class="col-md-12">
            <div class="item">
                <div id="chart06"></div>
            </div>
        </div>
    </div>
</div>