<!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="nav-item start active open">
                        
                            <a href="/service/conuserIndex" class="nav-link" target="iframepage">
                                <i class="fa fa-male"></i>
                                <span class="title">个人参会</span>
                                <span class="selected"></span>
                            </a>
                            
                            
<!--                             <ul class="sub-menu"> -->
<!--                                 <li class="nav-item start active open"> -->
<!--                                     <a href="/service/sign/goIndex" class="nav-link " target="iframepage"> -->
<!--                                         <i class="fa fa-edit"></i> -->
<!--                                         <span class="title">签到管理</span> -->
<!--                                         <span class="selected"></span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item start "> -->
<!--                                     <a href="/service/pay/goIndex" class="nav-link " target="iframepage"> -->
<!--                                         <i class="fa fa-money"></i> -->
<!--                                         <span class="title">缴费管理</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item start "> -->
<!--                                     <a href="/service/hotel/goIndex" class="nav-link " target="iframepage"> -->
<!--                                         <i class="fa fa-building"></i> -->
<!--                                         <span class="title">酒店管理</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item start "> -->
<!--                                     <a href="/service/file/goIndex" class="nav-link " target="iframepage"> -->
<!--                                         <i class="fa fa-file-archive-o"></i> -->
<!--                                         <span class="title">资料管理</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item start "> -->
<!--                                     <a href="/service/grade" class="nav-link " target="iframepage"> -->
<!--                                         <i class="fa fa-inbox"></i> -->
<!--                                         <span class="title">学分管理</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                             </ul> -->
                            
                        </li>
                        
                        
                        <li class="nav-item  ">
                            <a href="/service/groupIndex" class="nav-link " target="iframepage">
                                <i class="fa fa-users"></i>
                                <span class="title">团队参会</span>
                            </a>
                            
<!--                             <ul class="sub-menu"> -->
<!--                                 <li class="nav-item  "> -->
<!--                                     <a href="/service/groupSign/goIndex" class="nav-link " target="iframepage"> -->
<!--                                     	<i class="fa fa-edit"></i> -->
<!--                                         <span class="title">团队签到</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item  "> -->
<!--                                     <a href="/service/groupPay/goIndex" class="nav-link " target="iframepage"> -->
<!--                                     	<i class="fa fa-money"></i> -->
<!--                                         <span class="title">团队缴费</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                                 <li class="nav-item  "> -->
<!--                                     <a href="/service/groupGrade/goIndex" class="nav-link " target="iframepage"> -->
<!--                                     	<i class="fa fa-inbox"></i> -->
<!--                                         <span class="title">团队学分</span> -->
<!--                                     </a> -->
<!--                                 </li> -->
<!--                             </ul> -->
                            
                        </li>
                        
                        <li class="nav-item  ">
                            <a href="/service/totalStat/goIndex" class="nav-link " target="iframepage">
                                <i class="icon-bar-chart"></i>
                                <span class="title">汇总统计</span>
                            </a>
                            
                        </li>
                        
                         <li class="nav-item  ">
                            <a href="/speech?access_token=${access_token_file!}" class="nav-link " target="_blank">
                                <i class="fa fa-file-powerpoint-o"></i>
                                <span class="title">PPT管理</span>
                            </a>
                        </li> 
                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->